<form [formGroup]="vForm" (ngSubmit)="SaveData()">
    <div class="card m-1">
        <div class="card-header">
            <h3 class="text-center">Case Type Practice Area Master</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="form-label">Practice Area</label>
                <input type="text" class="form-control" id="practiceArea" formControlName="practiceArea">
                <!-- oninput="this.value = this.value.toUpperCase()" -->
                <!-- <div *ngIf="submitted && f.prac    ticeArea.errors" class="invalid-feedback">
                    <div *ngIf="f.practiceArea.errors.required">Please enter practice area.</div>
                </div> -->
                <div *ngIf="f.practiceArea.touched && f.practiceArea.invalid" class="alert alert-danger">
                    <div *ngIf="f.practiceArea.errors">Please enter practice area.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="description" formControlName="description">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!vForm.valid">Save</button>&nbsp;
                <button class=" btn btn-primary" (click)="activeModal.dismiss('Cross click')">Close</button>
            </div>
        </div>
    </div>
</form>