<form [formGroup]="vForm" (ngSubmit)="SaveData()">
  <div class="card m-1">
    <div class="card-header">
      <h3 class="text-center">Country Master</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">Country Code</label>
        <input type="text" class="form-control" id="countryCode" formControlName="countryCode"
          oninput="this.value = this.value.toUpperCase()">
        <div *ngIf="submitted && f.countryCode.errors" class="invalid-feedback">
          <div *ngIf="f.countryCode.errors.required">Country Code is required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-label">Country Name</label>
        <input type="text" class="form-control" id="countryName" formControlName="countryName"
          oninput="this.value = this.value.toUpperCase()">
        <div *ngIf="submitted && f.countryName.errors" class="invalid-feedback">
          <div *ngIf="f.countryName.errors.required">Country Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!vForm.valid">Save</button>&nbsp;
        <button class=" btn btn-primary" (click)="activeModal.dismiss('Cross click')">Close</button>
      </div>
    </div>
  </div>
</form>