<form [formGroup]="vForm" (ngSubmit)="SaveData()">
  <div class="card m-1">
    <div class="card-header">
      <h3 class="text-center">City Master</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="form-label">County Code</label>
        <select class="form-select" formControlName="countyMasterId">
          <option disabled>Select County</option>
          <option [ngValue]="county.autoId" *ngFor="let county of counties">{{county.countyName}}</option>
        </select>
        <div *ngIf="f.countyMasterId.touched && f.countyMasterId.invalid && submitted" class="alert alert-danger">
          <div *ngIf="f.countyMasterId.errors">Please select state.</div>
        </div>
      </div>
      <div class=" form-group">
        <label class="form-label">City Name</label>
        <input type="text" class="form-control" id="cityName" formControlName="cityName">

        <div *ngIf="f.cityName.touched && f.cityName.invalid" class="alert alert-danger">
          <div *ngIf="f.cityName.errors">Please enter city name.</div>
        </div>

      </div>
      <div class=" form-group">
        <label class="form-label">Latitude</label>
        <input type="text" class="form-control" id="latitude" formControlName="latitude">
      </div>
      <div class=" form-group">
        <label class="form-label">Longitude</label>
        <input type="text" class="form-control" id="longitude" formControlName="longitude">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="!vForm.valid">Save</button>&nbsp;
        <button class=" btn btn-primary" (click)="activeModal.dismiss('Cross click')">Close</button>
      </div>
    </div>
  </div>
</form>