<!-- Total View Link -->
<!--<div class="container-fluid">
  <h3>Appearance</h3>
  <div class="row">
    <div class="col">
      <div class="card border border-2 border-warning">
         <div class="card-header">
          <h5 class="card-title">Open Appearance</h5>
        </div> 
        <div class="card-body">
          <p class="card-text">Open <br><span class="fs-3">1</span></p>
        </div>
        <div class="card-footer text-end"><a [routerLink]="['/appearance-list','Open']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-2 border-success">
         <div class="card-header">
          <h5 class="card-title">Filled Appearance</h5>
        </div> 
        <div class="card-body">
          <p class="card-text">Filled/Withdrawn<br><span class="fs-3">1</span></p>
        </div>
        <div class="card-footer text-end"><a [routerLink]="['/appearance-list','Filled']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-2 border-primary">
         <div class="card-header">
          <h5 class="card-title">Completed Appearances</h5>
        </div> 
        <div class="card-body">
          <p class="card-text">Completed <br><span class="fs-3">1</span></p>
        </div>
        <div class="card-footer text-end"><a [routerLink]="['/appearance-list','Completed']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-2 border-danger">
         <div class="card-header">
          <h5 class="card-title">Cancelled / Withdrawn</h5>
        </div> 
        <div class="card-body">
          <p class="card-text">Cancelled <br><span class="fs-3">1</span></p>
        </div>
        <div class="card-footer text-end"><a [routerLink]="['/appearance-list','Cancelled']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-2 border-danger">
         <div class="card-header">
          <h5 class="card-title">Expired Appearances</h5>
        </div> 
        <div class="card-body">
          <p class="card-text">Expired <br><span class="fs-3">1</span></p>
        </div>
        <div class="card-footer text-end"><a [routerLink]="['/appearance-list','Expired']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="container-fluid">
  <h3>Applications</h3>
    <div class="row">
      <div class="col">
        <div class="card border border-2 border-orange">
           <div class="card-header">
            <h5 class="card-title">Invited Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Invited Attorneys <span class="fs-3">1</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/applications','Invited']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-2 border-orange">
           <div class="card-header">
            <h5 class="card-title">Applied Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Applied Attorneys <span class="fs-3">1</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/applications','Applied']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-2 border-orange">
           <div class="card-header">
            <h5 class="card-title">Rejected By Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Rejected by Attorneys <span class="fs-3 text-end">1</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/applications','Rejected']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
    </div>
</div>--><!-- Total View Link -->
<!-- Invoice View -->
<!--<div class="container-fluid" >
  <h3>Invoices</h3>
    <div class="row">
      <div class="col">
        <div class="card border border-2 border-primary">
           <div class="card-header">
            <h5 class="card-title">Invited Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Due Invoices <span class="fs-3">$250</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/invoice-list','Due']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-2 border-success">
           <div class="card-header">
            <h5 class="card-title">Applied Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Paid Invoices <span class="fs-3">$150</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/invoice-list','Paid']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-2 border-danger">
           <div class="card-header">
            <h5 class="card-title">Rejected By Attorney</h5>
          </div> 
          <div class="card-body">
            <p class="card-text">Rejected Invoices <span class="fs-3 text-end">$100</span></p>
          </div>
          <div class="card-footer text-end"><a [routerLink]="['/invoice-list','Rejected']" class="small-box-footer link-dark">More info <i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
      </div>
    </div>
</div>--><!-- Invoice View Link -->
